$green: #e0f970;
.container__team {
  width: auto;
  background-color: #131313;
  padding: 30px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  &-title {
    width: 100%;
    display: flex;
    align-items: center;
    .line {
      height: 1px;
      width: 7%;
      background-color: $green;
      margin-right: 2%;
    }
  }
  &-subtitle {
    display: flex;
    justify-content: center;
    color: white;
    text-align: left;
    font-weight: 700;
    font-size: 16px;
    strong {
      color: $green;
      font-weight: 500;
      font-size: 14px;
    }
    @media only screen and (min-width: 1024px) {
      justify-content: flex-start;
      margin-left: 9%;
    }
  }
}
.container__founder {
  width: auto;
  background-color: #131313;
  padding: 30px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  row-gap: 20px;

  &-middleCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    article {
      width: 100%;
    }
  }
  @media only screen and (min-width: 1024px) {
    flex-direction: row;
    column-gap: 15px;
  }
}
.container__coreTeam {
  background: url("../../../public/assets/meteor.png");
  background-color: rgba(0, 0, 0, 0.95);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
